:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --darkBlue: hsl(234, 12%, 34%);
    --grayBlue: hsl(229, 6%, 66%);
    --lightGray: hsl(0, 0%, 98%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

body {
    background-color: var(--lightGray);
}

h1, h2 {
    font-weight: 600;
    font-size: 32px;
    color: var(--darkBlue);
}

p {
    color: var(--grayBlue);
}

h2 {
    margin-bottom: 10px;
}

header {
    max-width: 505px;
    margin: 0 auto 70px;
    text-align: center;
    padding-top: 80px;
}

main {
    max-width: 1040px;
    margin: 0 auto 50px;
    position: relative;
    /* background-color: aqua; */
}

#title {
    font-weight: 200;
}

.feature {
    width: 325px;
    height: 250px;
    border-radius: 0 0 10px 10px;
    background-color: #fff;
    box-shadow: 7px 7px 18px var(--grayBlue);
    position: relative;
    padding: 30px;
}

.feature h1 {
    font-size: 20px;
}

#box1 {
    border-top: 5px solid var(--cyan);
    border-radius: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#box2 {
    border-top: 5px solid var(--red);
    border-radius: 10px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#box3 {
    border-top: 5px solid var(--orange);
    border-radius: 10px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%);
}

#box4 {
    border-top: 5px solid var(--blue);
    border-radius: 10px;
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translate(-100%, -50%);
}

#box5 {
    height: 540px;
    z-index: -1;
    visibility: hidden;
}

.feature img {
    position: absolute;
    right: 30px;
    bottom: 30px;
}

.feature h1 {
    margin-bottom: 5px;
}

@media (max-width: 1066px) {
    main {
        max-width: 980px;
    }
    .feature {
        width: 315px;
        height: 224px;
    }
    #box5 {
        height: 488px;
    }
}

@media (max-width: 960px) {
    #box5 {
        height: 0px;
    }
    main {
        width: 320px;
        margin: 10px auto 80px;
    }
    #box1, #box2, #box3, #box4 {
        position: static;
        transform: none;
        margin-bottom: 30px;
    }
}

@media (max-width: 430px) {
    #title, h2 {
        font-size: 28px;
    }
    header p {
        max-width: 297px;
        margin: auto;
    }
}
